@model AplicacionWebSeguros.Models.polizasClienteModel

@{
    ViewBag.Title = "CreatePP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Polizas por cliente</h2>
<div>
    @Html.ActionLink("Volver a la lista", "PolizasCiente", "Cliente", new { area = "" }, new { id = "btnRegresa", @class = "btn btn-success" })
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div>Seleccione Cliente</div>
            <div>@Html.DropDownList("ClienteId", null, htmlAttributes: new { id = "cmbCliente", @class = "form-control" })</div>
        </div>
        <div class="col-md-4">
            <div>Seleccione Poliza</div>
            <div>@Html.DropDownList("PolizaId", null, htmlAttributes: new { id = "cmbPoliza", @class = "form-control" })</div>
        </div>
        <div class="col-md-4">
            <div>Fecha inicio de vigencia</div>
            <div>@Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { id = "txtFecha", @class = "form-control" } })</div>
        </div>
    </div>
    <div style="padding-top:6px">
        <button class="btn btn-success" data-toggle="tooltip" title="Agregar registro a la lista" onclick="agregaPolizaCliente()">Agregar registro a la lista&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <div style="padding-top:6px">
        <table class="table table-bordered table-striped" id="tbLIstaPolizasCliente">
            <tr>
                <th>
                    Cliente
                </th>
                <th>
                    Poliza
                </th>
                <th>
                    Fecha Inicio
                </th>
            </tr>
        </table>
    </div>
    <div style="padding-top:6px">
        <button class="btn btn-primary" data-toggle="tooltip" title="Actualizar en Base de datos" onclick="actualizaPolizaCliente()">Actualizar en Base de datos&nbsp;&nbsp;<span class="glyphicon glyphicon-save"></span></button>
    </div>
</div>

<!-- Modal -->
<button id="btnModal" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="visibility:hidden"></button>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-exclamation-sign"></span> Mensajes</h4>
            </div>
            <div class="modal-body">
                <h3 id="textoModal"></h3>
            </div>
            <div class="modal-footer">
                <button id="btnCierraModal" type="submit" class="btn btn-info btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cerrar</button>
            </div>
        </div>
    </div>
</div>