@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Message</h2>

<address>
    Phanor Mesias<br />
    Ingeniero de Sistemas<br />
    <abbr title="Phone">Celular:</abbr>
    310-6782510
</address>

<address>
    <strong>Email:</strong>   <a href="phanor.mesias00@hotmail.com">phanor.mesias00@hotmail.com</a>
</address>