@using AplicacionWebSeguros.Models;
@{
    ViewBag.Title = "Home Page";
    tbUsuario userLog = (tbUsuario)Session["usrValido"];
}

<div class="jumbotron">
    <h1>Aplicación Web para Seguros</h1>
    <p class="lead">Front de aplicación Web para prueba técnica de Phanor Mesias.</p>
    @if (userLog != null)
    {
        foreach (var item in userLog.permisos)
        {
            if (item.nivel == 1)
            {
                <div class="btn-group">
                    @Html.ActionLink(item.Titulo, item.Accion, item.Controlador, new { area = "" }, new { @class = "btn btn-primary" })
                </div>
                    
            }
        }
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Front End</h2>
        <p>
            Bootstrap 3.4 - Javacript - Jquery
        </p>
    </div>
    <div class="col-md-4">
        <h2>Back End</h2>
        <p>.NET Framework 4.7.2 - C#</p>
    </div>
    <div class="col-md-4">
        <h2>Servicios</h2>
        <p>Servicios en .NET Core 3.1</p>
    </div>
</div>