@using AplicacionWebSeguros.Models;
@{
    ViewBag.Title = "Gestión de Seguros";
    Layout = "~/Views/Shared/_Layout.cshtml";

    tbUsuario userLog = (tbUsuario)Session["usrValido"];
}

<h2>Gestión de Seguros</h2>
@if (userLog != null)
{
    foreach (var item in userLog.permisos)
    {
        if (item.nivel == 2)
        {
            @Html.ActionLink(item.Titulo, item.Accion, item.Controlador, new { area = "" }, new { @class = "btn btn-primary" }) 
        }
        <label> </label>
    } 
}



